:root {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green:#55DFB4;
    --color-black:#000000;
    --color-grey:#A5A5A5;
    --color-light-grey:#F7F7F7;
    --color-white:#FFFFFF;
}
.container {
    margin: 0 auto;
    max-width: 1352px;
}

.title-statistic {
    font-size: 36px;
    margin-top: 100px;
}
.statistic-container{
    display: flex;
    justify-content: center;
    gap: 185px;
    margin-bottom: 100px;
    margin-top: 101px;
}
.article-box {
    width: 116px;
}
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;

}
.shape{
    width: 63px;
    height: 63px;
    background: #FB3B64;
    border-radius: 50%;
    position: static;

}
.two{
    background: var(--color-primary);
}
.three{
    background: var(--color-green);
}
.icon-img{
    position: absolute;
    padding-left: 40px;
}
.article-box-title{
    font-size: 20px;
    font-family: 'Raleway',sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    color: var(--color-black);
    text-align: center;
    margin-top: 13px;
}
.article-txt{
    color: var(--color-grey);
    font-size: 16px;
    font-family: 'Raleway',sans-serif;
    font-weight: normal;
    text-align: center;
    margin-top: 19px;
}
.benefits{
    background: var(--color-light-grey);
}
.benefits-container{
    padding-top: 106px;
}
.benefits-article-box{
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 37px;
    border-radius: 5px;
    /*width: 1124px;*/
    /*background: var(--color-white);*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    /*margin-bottom: 37px;*/
}
.benefits-txt-box{
    margin-left: 35px;
}
.benefits-title{
    text-align: left;
    margin-top: 0;
    margin-bottom: 30px;
}

.benefits-txt{
    text-align: left;
    font-size: 16px;
    color: var(--color-black);
    font-family: 'Open Sans',sans-serif;
    margin-bottom: 50px;
}
.bottom-bar{
    background: var(--color-redish);
    height: 4px;
    width: 328px;
}
.img-shape-container{
    position: static;
    display: flex;
    justify-content: center;
}
.benefits-img-container{
    position: relative;
}
.benefits-img{
    position: relative;
    z-index: 2;
}
.benefits-box-notebook {
    --acent-color: var(--color-redish);
    padding-left: 36px;
}
.benefits-box-notebook .benefits-img-container {
    margin-right: 117px;
    margin-bottom: 38px;
}
.benefits-box-notebook .benefits-img-container::before{
    content: "";
    width: 180px;
    height: 180px;
    background-color: var(--color-redish);
    display: block;
    border-radius: 40px;
    position: absolute;
    right: 0;
    top: 70px;
    transform: rotate(45deg);
}
.benefits-box-notebook .benefits-img-container .benefits-img{
    padding-top: 80px;
    width: 386px;
    height: auto;
}
.bottom-bar-single{
    background: var(--color-primary);
}
.benefits-box-phone {
    flex-direction: row-reverse;
    padding: 0 20px 0 70px;
}
.benefits-box-phone .benefits-img-container::before{
    content: "";
    width: 320px;
    height: 320px;
    background-color: var(--color-primary);
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -10px;
}
.single-img {
    width:426px ;
    height: auto;
    position: relative;
    z-index: 2;
}
.benefits-article-box .benefits-txt-box {
    margin: 70px 0;
}
.bottom-bar-separate {
    background: var(--color-green);
}
.benefits-separate {
    display: flex;
}
.benefits-separate > div {
    margin-bottom: 0;
}
.benefits-box-trumpet {
    max-width: 800px;
}
.benefits-box-trumpet .benefits-txt-box{
    max-width: none;
    margin: 70px 240px 70px 40px;
}
.benefits-txt, .benefits-txt-box {
    width: 627px;
}
.benefits-separate .benefits-article-box{
    margin: 0;
}

.benefits-img-container-trumpet {
    /*flex-grow: 1;*/
    width: 440px;
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-green);
    border: none;
    /*margin-left: 60px;*/
}
.trumpet-img {
    width: 295px;
    height: auto;
    margin-top: 55px;
}
.pricing{
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.pricing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.pricing-box {
    margin-top: 50px;
    width: 370px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--color-redish);
    border-radius: 18px;
    padding: 110px;
    font-family: "Open Sans",sans-serif;
}
.pricing-box--professional{
    border:1px solid var(--color-primary) ;
}
.pricing-box--premium {
    border:1px solid var(--color-green) ;
}
.pricing-type{
    font-family: "Raleway",sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}
.pricing-price{
    font-family: "Open Sans",sans-serif;
    font-weight: lighter;
    font-size: 46px;
    letter-spacing: 0;
    color: var(--color-redish);
    margin-bottom: 70px;
}
.pricing-price-prof {
    color: var(--color-primary);
}
.pricing-price-prem {
    color: var(--color-green);
}
.pricing-items {
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    text-align: center;
}
.pricing-item{
    margin-bottom: 20px;
}