:root {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green:#55DFB4;
    --color-black:#000000;
    --color-grey:#A5A5A5;
    --color-light-grey:#F7F7F7;
    --color-white:#FFFFFF;
}
.container {
    margin: 0 auto;
    max-width: 1352px;
}


.pricing{
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.pricing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.pricing-box {
    margin-top: 50px;
    width: 370px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--color-redish);
    border-radius: 18px;
    padding: 110px;
    font-family: "Open Sans",sans-serif;
}
.pricing-box--professional{
    border:1px solid var(--color-primary) ;
}
.pricing-box--premium {
    border:1px solid var(--color-green) ;
}
.pricing-type{
    font-family: "Raleway",sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}
.pricing-price{
    font-family: "Open Sans",sans-serif;
    font-weight: lighter;
    font-size: 46px;
    letter-spacing: 0;
    color: var(--color-redish);
    margin-bottom: 70px;
}
.pricing-price-prof {
    color: var(--color-primary);
}
.pricing-price-prem {
    color: var(--color-green);
}
.pricing-items {
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    text-align: center;
}
.pricing-item{
    margin-bottom: 20px;
}